1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [3]:
f = open('test.txt' , 'w')

In [4]:
f.write('test1 = "This is a test of the emergency text system"')

53

In [5]:
f = open('test.txt' , "r")

In [6]:
f.read()

'test1 = "This is a test of the emergency text system"'

In [13]:
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [7]:
test2 = open('test.txt' , "r")

In [9]:
test2.read()

'test1 = "This is a test of the emergency text system"'

In [12]:
test2.close()

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [20]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books2.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [14]:
import sqlite3

In [15]:
db = sqlite3.connect("books.db")

In [16]:
c = db.cursor()

In [17]:
c.execute('create table books (title text , author text , year int)')

In [21]:
db.commit()

5. Read books.csv and insert its data into the book table.

In [23]:
import pandas as pd

read_books = pd.read_csv('books2.csv')
read_books.to_sql('books', db, if_exists='append', index = False)

6. Select and print the title column from the book table in alphabetical order.

In [25]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [26]:
c.execute('select * from books order by year')
print(c.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Mi�ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [27]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Mi�ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [28]:
pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\admin\anaconda3\lib\site-packages (from redis) (20.9)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\admin\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\admin\anaconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4
Note: you may need to restart the kernel to use updated packages.

10. Increment the count field of test and print it.

In [ ]:

conn.hincrby('test','count', 3)